<div class="container">
  <div class="row mt-3">
    <%= form_with url: home_send_message_path, method: :get do |f| %>
      <div class="mb-3">
        <%= f.label :recipients, "Recipients Phone Numbers", class: "form-label" %>
        <%= f.text_field :recipients, class: "form-control" %>
        <div id="recipientsHelp" class="form-text">Separate the phone numbers with commas</div>
      </div>
      <div class="mb-3">
        <%= f.label :message, "Message", class: "form-label" %>
        <%= f.text_area :message, class: "form-control" %>
      </div>

      <%= f.submit "Send", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
